%video.landing-vid{:width => 400, :height => 400, :autoplay => true, :loop => true, :muted => true}
  %source{:src => "video/vid.mp4", :type => 'video/mp4'}
.landing
  %h1 Welcome to Trade Art Collective
  %p Artists of the Trade Art Collective are dedicated to the ideal that those who purchase our pieces are not labeled as consumers, but as people. As people we need human contact, which is exactly what the Trade Art Collective is all about. Our artist are hand making pieces and selling derectly to you.
  %p What you buy on our site is not processed and packaged by machines. exactlyach product is a unique piece of art crafted by a master of trade.
