<div class='item' style='background-image: url(https://trade-art-development.s3.amazonaws.com/uploads/item/img/92/beanie2.jpg);'>
      <form accept-charset="UTF-8" action="/users/2/items/92" class="simple_form edit_item" data-remote="true" enctype="multipart/form-data" id="edit_item_92" method="post"><div style="display:none"><input name="utf8" type="hidden" value="&#x2713;" /><input name="_method" type="hidden" value="patch" /></div>    <div class="input string required item_name"><label class="string required" for="item_name"><abbr title="required">*</abbr> Name</label><input aria-required="true" class="string required" id="item_name" maxlength="255" name="item[name]" required="required" size="255" type="text" value="fsdafdsa" /></div>
          <div class="input integer required item_price"><label class="integer required" for="item_price"><abbr title="required">*</abbr> Price</label><input aria-required="true" class="numeric integer required" id="item_price" name="item[price]" required="required" step="1" type="number" value="1000" /></div>
          <div class="input file optional item_img"><label class="file optional" for="item_img">Img</label><input class="file optional" id="item_img" name="item[img]" type="file" /></div>
          <div class="input text optional item_description"><label class="text optional" for="item_description">Description</label><textarea class="text optional" id="item_description" name="item[description]">
</textarea></div>
          <input name="commit" type="submit" value="Update Item" />
      </form>
    </div>
    <div class='new-item'>
      <form accept-charset="UTF-8" action="/users/2/items" class="simple_form new_item" data-remote="true" enctype="multipart/form-data" id="new_item" method="post"><div style="display:none"><input name="utf8" type="hidden" value="&#x2713;" /></div>    <div class="input string required item_name"><label class="string required" for="item_name"><abbr title="required">*</abbr> Name</label><input aria-required="true" class="string required" id="item_name" maxlength="255" name="item[name]" required="required" size="255" type="text" /></div>
          <div class="input integer required item_price"><label class="integer required" for="item_price"><abbr title="required">*</abbr> Price</label><input aria-required="true" class="numeric integer required" id="item_price" name="item[price]" required="required" step="1" type="number" /></div>
          <div class="input file required item_img"><label class="file required" for="item_img"><abbr title="required">*</abbr> Img</label><input aria-required="true" class="file required" id="item_img" name="item[img]" required="required" type="file" /></div>
          <div class="input text optional item_description"><label class="text optional" for="item_description">Description</label><textarea class="text optional" id="item_description" name="item[description]">
</textarea></div>
          <input name="commit" type="submit" value="Create Item" />
      </form>
    </div>
  </div>
