nav {
  background: url('nav-bg.jpg');
  width: 100%;
  margin-top: 0;
  height: 90px;
  text-align: center;
}

nav ul {
  display: flex;
  justify-content: space-between;
  height: 90px;
}

nav ul li {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

nav ul li a {
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  color: #18987c;
}

nav ul li a:hover {
  color: #317b76;
}

nav ul li a img {
  height: 50px;
  width: 50px;
  border-radius: 15px;
  background-color: #18987c;
}

nav ul li a img:hover {
  background-color: #317b76;
  border-radius: 15px;
}

.brand {
  flex: 3;
  padding-left: 4vmax;
}

.brand a {
  font-size: 2rem;
  text-align: left;
  width: 55%;
}

.brand a:hover {
  color: #317b76;
}

@media all and (max-width: 505px) {

  .brand a {
    font-size: 20px;
  }

}
