html, body {
  height: 100%;
  width: 100%;
  background-color: transparent;
  font-family: 'Amatic SC', cursive;
}
.landing-vid {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background-color: lightblue;
  background-size: cover;
}

.landing {
 display: flex;
 display: -webkit-flex;
 flex-flow: row wrap;
 -webkit-flex-flow: row wrap;
 justify-content: center;
 -webkit-justify-content: center;
 margin-top: 10%;
 margin-left: 25%;
 background-color: rgba(0,0,0,0.5);
 width: 50%;
 border-radius: 15px;
 color: #18987c;
 padding: 1%;
 padding-bottom: -2%;
 height: 50%;
}

.landing h1 {
  font-size: 4vmax;
}

.landing p {
  font-size: 30px;
  margin-top: 0%;
}


a {
  text-decoration: none;
  color: #18987c;
}

a:hover {
  color: #317b76;
}

.notice {
  text-align: center;
  background-color: lightblue;
}

.page {
  display: flex;
  display: -webkit-flex;
  height: 100%;
  width: 100%;
  flex-flow: column no-wrap;
  -webkit-flex-flow: column no-wrap;
}

.exit {
  position: absolute;
  text-decoration: none;
  font-size: 30px;
  margin-left: 95%;
  background-color: #dab222;
}

.item-index {
  display: flex;
  display: -webkit-flex;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  justify-content: center;
  -webkit-justify-content: center;
}

.item-index .item {
  margin: 5px;
}

#artist {
  justify-content: space-around;
  -webkit-justify-content: space-around;
  flex-direction: column;
  -webkit-flex-direction: column;
  text-align: center;
  flex: 1;
  -webkit-flex: 1;
  padding: 1%;
  background-size: cover;
  background-position: center;
}

.user-image img {
  border: 5px solid #18987c;
  border-radius: 15px;
}

.name {
  border-radius: 15px 15px 0px 0px;
  background: rgba(255,255,255, 0.9);
  font-size: 4vmax;
}

#user_name {
  font-size: 4vmax;
  width: 100%;
}

.location {
  border-radius: 0px 0px 15px 15px;
  background: rgba(255,255,255, 0.9);
  font-size: 3vmax;
}

#user_location {
  width: 100%;
  font-size: 3vmax;
}

.about {
  background: rgba(255,255,255, 0.9);
  border-radius: 15px;
  width: 99.99%;

}

#user_story {
  border-radius: 15px;
  width: 99.99%;
}

.about p {
  width: 95%;
  padding: 5%;
  font-size: 30px;
}

#items-container {
  display: flex;
  display: -webkit-flex;
  flex-flow: row wrap;
  -webkit-flex-flow: row wrap;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  margin: 0;
  padding: 0;
  flex: 2;
  -webkit-flex: 2;
}

#item-container {
  display: flex;
  display: -webkit-flex;
  flex-flow: column wrap;
  -webkit-flex-flow: column wrap;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  margin: 0;
  padding: 0;
  flex: 2;
  -webkit-flex: 2;
  width: 65.30%;
  height: 100%;
  z-index: 1000;
  background-color: rgba(0,0,0,0.5);
  position: absolute;
  text-align: center;
  color: #dab222;
  overflow: hidden;
}

#bg {
  position: fixed;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  z-index: -100;
}
#bg img {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  min-width: 50%;
  min-height: 50%;
}

.video {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -100;
  background-color: lightblue;
  background-size: cover;
}

.item-images {
  width: 480px;
  overflow: hidden;
  padding-right: 50%;
}

.item-images ul {
  width: 20000px;
  padding: 0;
  margin: 0;
}

.item-images ul li {
  margin-left: 275px;
  text-align: center;
  list-style: none;
  float: left;
  width: 300px;
  height: 300px;
  background-size: 300px 300px;
  background-position: center;
  background-repeat: no-repeat;
}

.item {
  display: flex;
  display: -webkit-flex;
  width: 300px;
  height: 300px;
  background-size: 300px 300px;
  background-position: center;
  background-repeat: no-repeat;
  margin: 5%;
  background-color: #18987c;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  flex-direction: column;
  -webkit-flex-direction: column;
  text-align: center;
  border: 5px solid #18987c;
  border-radius: 15px;
}

.new-item {
  display: flex;
  display: -webkit-flex;
  width: 300px;
  height: 300px;
  background-size: 300px;
  margin: 5%;
  background-color: #18987c;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  flex-direction: column;
  -webkit-flex-direction: column;
  text-align: center;
  border: 5px solid #18987c;
  border-radius: 15px;
}

.item:hover > .item-content {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  flex-direction: column;
  -webkit-flex-direction: column;
  height: 100%;
  background-color: rgba(0,0,0,0.6);
  border-radius: 50%;
  color: #dab222;
}

.item-content {
  display: none;
}

.buy {
  font-size: 50px;
  color: #18987c;
}

.buy:hover {
  color: #317b76;
}

.item-name {
  font-size: 35px;
  margin-top: 4%;
}

.item-name2 {
  font-size: 50px;
}

#item_name {
  font-size: 20px;
  margin-top: 4%;
  width: 98%;
}

.item-price {
  font-size: 40px;
  font-weight: bold;
}

#item_price {
  font-size: 20px;
  width: 30%;
  margin: 4%;
}

.view {
  font-size: 35px;
}

.item-description {
  font-size: 25px;
  margin-bottom: 5%;
}

#item_description {
  width: 98%;
}

.item-actions {
  display: flex;
  display: -webkit-flex;
  justify-content: center;
  -webkit-justify-content: center;
}

.add-item {
  display: flex;
  display: -webkit-flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  -webkit-flex-direction: column;
  justify-content: center;
  -webkit-justify-content: center;
  font-size: 3em;
}

.add-item a {
  width: 100%;
  height: 100%;
  line-height: 300px;
}

.header {
  text-align: center;
  font-size: 50px;
  color: #dab222;
}

.link-to-artist {
  width: 100%;
  height: 100%;
}

.link-to-artist a {
  font-size: 25px;
  width: 100%;
  height: 100%;
}

.buy-container {
  text-align: center;
  width: 100%;
  height: 100%;
  margin-top: 10%;
}

.buy-container h1 {
  color: #dab222;
}

.sale-container {
  margin-bottom: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  background-size: cover;
}

.sale {
  border: 5px solid black;
  width: 25%;
  margin-left: 37%;
  font-size: 30px;
  background-color: lightblue;
}

nav {
  width: 100%;
  margin-top: 0;
  height: 90px;
  text-align: center;
}

nav ul {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  -webkit-justify-content: space-between;
  height: 90px;
}

nav ul li {
  padding: 1rem;
  display: flex;
  display: -webkit-flex;
  flex-direction: column;
  -webkit-flex-direction: column;
  justify-content: center;
  -webkit-justify-content: center;
  flex: 1;
}

nav ul li a {
  font-size: 20px;
  text-align: center;
  text-decoration: none;
  color: #18987c;
}

nav ul li a:hover {
  color: #317b76;
}

nav ul li a img {
  height: 50px;
  width: 50px;
  border-radius: 15px;
  background-color: #18987c;
}

nav ul li a img:hover {
  background-color: #317b76;
  border-radius: 15px;
}

.brand {
  flex: 3;
  -webkit-flex: 3;
  padding-left: 4vmax;
}

.brand a {
  font-size: 4vmax;
  text-align: left;
  width: 75%;
  text-shadow: 1px 2px #ff0000;
}

.brand a:hover {
  color: #317b76;
}

